{% include "base.html" % } 

<body>
    <div id="content", name="content">
        {% block content %}
        <form method="GET" action="{% url "products"%}"
            {% csrf_token %}
            <table>
                {% for item in item_list %}
                    <input type="submit" action="{% url "products"%}"><tr>Item name: {{item.item_name}}</tr>
                    <tr>Item description: {{item.item_description}}</tr>
                    <tr>Item price: {{item.item_price}}</tr>
                    <tr>Item rating: {{item.item_rating}}</tr>
                    <tr>Item review: {{item.item_reviews}}</tr>
                    <br>
                {% endfor %}
            </table>
        </form>
        {% endblock %}
    </div>
</body>